# Domains
ROOT_DOMAIN=example.com
APP_DOMAIN=app.example.com
AUTH_DOMAIN=auth.example.com
GRAFANA_DOMAIN=grafana.example.com

# Webapp config
WEBAPP_VERSION=dev                # Webapp image version to pull
APP_CLIENT_ID=client_id           # App OIDC Client Id
APP_CLIENT_SECRET=client_secret   # App OIDC Client Secret
DB_CONNECTION_STRING=Host=postgres;Port=5432;Username=app;Password=app;Database=aos_adjutant  # Db connection string for app user

# Postgres config
POSTGRES_PASSWORD=postgres    # Superuser password
APP_PASSWORD=app              # App user password (used by the webapp)
MIGRATOR_PASSWORD=migrator    # Migration user password (used by migration scripts)

# Pocket ID config
AUTH_ENCRYPTION_KEY=encryption_key

# TLS certificate
CLOUDFLARE_API_TOKEN=api_token    # Used for DNS challenge to issue TLS certificate
ADMIN_EMAIL=admin@example.com     # Email for TLS certificate

# Grafana config
GRAFANA_CLIENT_ID=client_id           # Grafana OIDC Client Id
GRAFANA_CLIENT_SECRET=client_secret   # Grafana OIDC Client Secret
