DATABASE_URL=postgresql://<user>:<password>@postgres:5432/aos_adjutant

DATABASE_NAME=aos_adjutant
DATABASE_USER=<user>
DATABASE_PASSWORD=<password>
DATABASE_HOST=postgres
DATABASE_PORT=5432

GRAFANA_PASSWORD=<password>
